<div class="item-dialog">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label i18n>Item name</mat-label>
    <input matInput [formField]="form.item_name" />
    @if (form.item_name().invalid() && form.item_name().touched()) {
      <mat-error>{{ form.item_name().errors()[0]?.message }}</mat-error>
    }
  </mat-form-field>

  <div class="price-quantity">
    <mat-form-field appearance="outline" class="price">
      <mat-label i18n>Price</mat-label>
      <span matTextPrefix i18n>Rp&nbsp;</span>
      <input matInput type="number" [formField]="form.item_price" />
      @if (form.item_price().invalid() && form.item_price().touched()) {
        <mat-error>{{ form.item_price().errors()[0]?.message }}</mat-error>
      }
    </mat-form-field>
    <app-counter-field i18n-label label="Quantity" [(value)]="slot" [min]="1" />
  </div>

  <app-file-drop-upload
    i18n-label
    label="Item image"
    [existingUrl]="existingImageUrl"
    [uploading]="isUploading()"
    [file]="file()"
    (fileChange)="onFileChange($event)"
  />

  @if (isUploading() && file(); as pickedFile) {
    <app-upload-file-card [file]="pickedFile" [uploadProgress]="uploadProgress()" />
  }

  <div class="dialog-footer" [class.hide-inline]="dialogContext?.isMobile()">
    @if (isEdit) {
      <button
        matButton="outlined"
        appButtonColor="error"
        appButtonSize="sm"
        (click)="openDeleteConfirm()"
      >
        <mat-icon fontSet="material-symbols-outlined">delete</mat-icon>
        <ng-container i18n>Delete</ng-container>
      </button>
    }
    <div class="spacer"></div>

    <button
      (click)="close()"
      matButton="outlined"
      appButtonSize="sm"
      type="button"
      mat-dialog-close
      i18n
    >
      Cancel
    </button>
    <button
      matButton="filled"
      appButtonSize="sm"
      [disabled]="form().invalid() || isUploading()"
      (click)="submit()"
    >
      <mat-icon fontSet="material-symbols-outlined">
        @if (isEdit) {
          save
        } @else {
          check
        }
      </mat-icon>
      @if (isEdit) {
        <ng-container i18n>Save item</ng-container>
      } @else {
        <ng-container i18n>Add item</ng-container>
      }
    </button>
  </div>
</div>

<ng-template #actionsTpl>
  <button
    matButton="filled"
    appButtonSize="sm"
    [disabled]="form().invalid() || isUploading()"
    (click)="submit()"
  >
    <mat-icon fontSet="material-symbols-outlined">
      @if (isEdit) {
        save
      } @else {
        check
      }
    </mat-icon>
    @if (isEdit) {
      <ng-container i18n>Save item</ng-container>
    } @else {
      <ng-container i18n>Add item</ng-container>
    }
  </button>
  @if (isEdit) {
    <button
      matButton="outlined"
      appButtonColor="error"
      appButtonSize="sm"
      (click)="openDeleteConfirm()"
    >
      <mat-icon fontSet="material-symbols-outlined">delete</mat-icon>
      <ng-container i18n>Delete</ng-container>
    </button>
  }
</ng-template>
