.category-label {
  display: inline-block;
  padding: var(--spacing-2xs) var(--spacing-sm);
  background-color: var(--mat-sys-secondary);
  color: var(--mat-sys-on-secondary);
  font: var(--mat-sys-label-small);
  border-radius: var(--mat-sys-corner-small);
  text-transform: capitalize;
}
