@use '@angular/material' as mat;

.btn-color-error {
  @include mat.button-overrides(
    (
      filled-container-color: var(--mat-sys-error),
      filled-label-text-color: var(--mat-sys-on-error),
      filled-state-layer-color: var(--mat-sys-on-error),
      filled-ripple-color: color-mix(
          in srgb,
          var(--mat-sys-on-error) calc(var(--mat-sys-pressed-state-layer-opacity) * 100%),
          transparent
        ),
      outlined-outline-color: color-mix(in srgb, var(--mat-sys-error) 24%, transparent),
      outlined-label-text-color: var(--mat-sys-error),
      outlined-state-layer-color: var(--mat-sys-error),
      outlined-ripple-color: color-mix(
          in srgb,
          var(--mat-sys-error) calc(var(--mat-sys-pressed-state-layer-opacity) * 100%),
          transparent
        ),
      text-label-text-color: var(--mat-sys-error),
      text-state-layer-color: var(--mat-sys-error),
      text-ripple-color: color-mix(
          in srgb,
          var(--mat-sys-error) calc(var(--mat-sys-pressed-state-layer-opacity) * 100%),
          transparent
        ),
      tonal-container-color: var(--mat-sys-error-container),
      tonal-label-text-color: var(--mat-sys-on-error-container),
      tonal-state-layer-color: var(--mat-sys-on-error-container),
      tonal-ripple-color: color-mix(
          in srgb,
          var(--mat-sys-on-error-container) calc(var(--mat-sys-pressed-state-layer-opacity) * 100%),
          transparent
        ),
    )
  );

  @include mat.icon-button-overrides(
    (
      icon-color: var(--mat-sys-error),
      state-layer-color: var(--mat-sys-error),
    )
  );
}
