<mat-card class="item-card" [class.item-card--out-of-stock]="isOutOfStock()">
  <!-- Image Section -->
  <div class="item-card__image">
    <img [src]="item().image_url" [alt]="item().item_name" />
  </div>

  <!-- Content Section -->
  <div class="item-card__content mat-bg-surface-container-lowest">
    <h3 class="mat-font-title-md mat-text-on-surface">{{ item().item_name }}</h3>

    <p class="mat-font-body-lg text-bold mat-text-on-surface">
      Rp {{ +item().item_price | number: '1.0-0' }}
    </p>

    <div class="item-card__footer">
      <div class="item-card__stock mat-font-label-lg">
        @if (stockRemaining > 5) {
          <span class="mat-text-on-surface-variant">Stock: {{ stockRemaining }} left</span>
        } @else if (stockRemaining > 0) {
          <span class="mat-text-error">Stock: {{ stockRemaining }} left</span>
        } @else {
          <span class="mat-text-error">Out of Stock</span>
        }
      </div>

      @if (!isInCart()) {
        <button
          matButton="tonal"
          appButtonSize="xs"
          [disabled]="isOutOfStock()"
          (click)="handleAdd()"
        >
          <mat-icon fontSet="material-symbols-outlined">add</mat-icon>
          Add
        </button>
      } @else {
        <app-counter-field
          #qtyField
          [compact]="true"
          class="item-card__quantity"
          [value]="quantity()"
          [max]="item().slot - item().current_slot"
          (valueChange)="onCounterChange($event, qtyField)"
        />
      }
    </div>
  </div>
</mat-card>
