@use '../../../../_variables' as *;

:host.pane {
  display: block;
  width: 100%;
  background-color: var(--mat-sys-surface-container-lowest);
  border: 0;
  border-radius: var(--mat-sys-corner-medium);
  padding: var(--spacing-md);
  box-shadow: var(--mat-sys-level2);
  color: var(--mat-sys-on-surface);

  @media (min-width: $breakpoint-md) {
    border-radius: var(--mat-sys-corner-large);
    padding: var(--spacing-xl);
  }
}

:host.pane-large {
  padding: var(--spacing-md);

  @media (min-width: $breakpoint-md) {
    padding: var(--spacing-2xl);
  }
}

.pane-title {
  font: var(--mat-sys-title-medium);
  margin-bottom: var(--spacing-sm);

  @media (min-width: $breakpoint-md) {
    font: var(--mat-sys-title-large);
    margin-bottom: var(--spacing-lg);
  }
}
