<h2 mat-dialog-title>{{ data.title }}</h2>

<mat-dialog-content [innerHTML]="data.content"></mat-dialog-content>

<mat-dialog-actions align="end">
  @for (button of data.buttons; track button.label) {
    <button
      [matButton]="button.type"
      [appButtonColor]="button.color ?? 'primary'"
      [mat-dialog-close]="button.action ?? ''"
      [attr.cdkFocusInitial]="button.focus ? '' : null"
    >
      @if (button.icon) {
        <mat-icon fontSet="material-symbols-outlined">{{ button.icon }}</mat-icon>
      }
      {{ button.label }}
    </button>
  }
</mat-dialog-actions>
