<div class="cart-item-card mat-bg-surface-container-lowest">
  @if (item().item.image_url) {
    <img 
      [src]="item().item.image_url" 
      [alt]="item().item.item_name" 
      class="cart-item-image clickable-image"
      (click)="openImagePreview()"
    />
  }
  <div class="cart-item-content">
    <div class="cart-item-header">
      <div class="cart-item-name mat-font-title-sm mat-text-on-surface">
        {{ item().item.item_name }}
      </div>
      @if (item().notes) {
        <div class="cart-item-notes mat-font-label-md mat-text-on-surface-variant">
          {{ item().notes }}
        </div>
      }
    </div>
    @if (showPrice() || editable()) {
      <div class="cart-item-footer">
        @if (showPrice()) {
          <div class="cart-item-price mat-font-body-lg mat-text-on-surface text-bold">
            Rp {{ +item().item.item_price | number: '1.0-0' }}
          </div>
        }
        @if (editable()) {
          <div class="cart-item-controls">
            <button
              matIconButton
              appButtonSize="xs"
              appIconButtonVariant="outlined"
              class="cart-notes-btn"
              (click)="notesEdit.emit(item())"
            >
              <mat-icon fontSet="material-symbols-outlined">edit</mat-icon>
            </button>
            <app-counter-field
              #qtyField
              compact
              [value]="item().quantity"
              [max]="item().item.slot - item().item.current_slot"
              (valueChange)="onCounterChange($event, qtyField)"
            />
          </div>
        }
      </div>
    }
  </div>
  @if (!editable()) {
    <div class="cart-item-qty mat-font-body-lg mat-text-on-surface text-bold">
      {{ quantityLabel() ?? item().quantity }}
    </div>
  }
</div>
