@use '@angular/material' as mat;
@use './_theme-colors' as theme;

html {
  @include mat.theme(
    (
      color: (
        primary: theme.$primary-palette,
        tertiary: theme.$tertiary-palette,
      ),
      typography: Inter,
      density: 0,
    ),
    $overrides: (
      (
        primary: #204ece,
        on-primary: #fcfdff,
        primary-container: #dbe1f5,
        on-primary-container: #1c3399,

        secondary: #ea9835,
        on-secondary: #fcfdff,
        secondary-container: #ffd896,
        on-secondary-container: #ae6f22,

        error: #e00000,
        on-error: #fcfdff,
        error-container: #ffded0,
        on-error-container: #a42525,

        background: #eaedf5,
        surface: #eaedf5,
        on-surface: #1c1b1f,
        on-surface-variant: #52555d,
        surface-container-lowest: #fbfcff,
        surface-container: #f0f3fb,
        surface-container-high: #dde0e7,
        surface-container-highest: #cdcfd9,

        outline: #7c808c,
        outline-variant: #b3b8c7,

        inverse-surface: #383a3f,
        inverse-on-surface: #fcfdff,
        inverse-primary: #a8b7fa,

        headline-large: 500 2.5rem / 3rem Inter,
        headline-large-line-height: 3rem,
        headline-large-size: 2.5rem,
        headline-large-weight: 500,
        headline-medium: 500 2rem / 2.5rem Inter,
        headline-medium-line-height: 2.5rem,
        headline-medium-size: 2rem,
        headline-medium-weight: 500,
        headline-small: 500 1.5rem / 2rem Inter,
        headline-small-weight: 500,
        body-large-tracking: 0,
        body-medium-tracking: 0,
        body-small-tracking: 0,
        label-large-tracking: 0,
        label-medium-tracking: 0,
        label-small: 500 0.625rem / 0.75rem Inter,
        label-small-line-height: 0.75rem,
        label-small-size: 0.625rem,
        label-small-tracking: 0,

        corner-extra-large: 64px,
        corner-extra-large-top: 64px 64px 0 0,
        corner-extra-small: 4px,
        corner-extra-small-top: 4px 4px 0 0,
        corner-large: 32px,
        corner-large-end: 0 32px 32px 0,
        corner-large-start: 32px 0 0 32px,
        corner-large-top: 32px 32px 0 0,
        corner-medium: 16px,
        corner-none: 0,
        corner-small: 8px,
      )
    )
  );

  /* Spacing */
  --spacing-3xs: 2px;
  --spacing-2xs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 12px;
  --spacing-md: 16px;
  --spacing-lg: 20px;
  --spacing-xl: 24px;
  --spacing-2xl: 32px;
  --spacing-3xl: 48px;
  --spacing-4xl: 64px;

  /* Page Spacers */
  --page-spacer-sm: 16px;
  --page-spacer-lg: 24px;
}

/* -------------------------------------------------------------------------- */
/* Layout System                                                              */
/* -------------------------------------------------------------------------- */

/* Column Spanning Classes */
@for $i from 1 through 12 {
  .col-span-#{$i} {
    grid-column: span #{$i} / span #{$i};
  }
}
