@use '@angular/material' as mat;
@use './_theme-colors' as theme;
@use './app/shared/directives/button/button-size.scss';
@use './app/shared/directives/button/button-color.scss';
@use './app/shared/directives/button/icon-button-variant.scss';

$spacing-scale: (
  3xs: var(--spacing-3xs),
  2xs: var(--spacing-2xs),
  xs: var(--spacing-xs),
  sm: var(--spacing-sm),
  md: var(--spacing-md),
  lg: var(--spacing-lg),
  xl: var(--spacing-xl),
  2xl: var(--spacing-2xl),
  3xl: var(--spacing-3xl),
  4xl: var(--spacing-4xl),
);

@mixin emit-spacing-utility($class-name, $properties) {
  .#{$class-name} {
    @each $property, $value in $properties {
      #{$property}: #{$value} !important;
    }
  }
}

@mixin emit-spacing-utilities() {
  @each $size, $value in $spacing-scale {
    @include emit-spacing-utility(
      m-#{$size},
      (
        margin: $value,
      )
    );
    @include emit-spacing-utility(
      mt-#{$size},
      (
        margin-top: $value,
      )
    );
    @include emit-spacing-utility(
      mr-#{$size},
      (
        margin-right: $value,
      )
    );
    @include emit-spacing-utility(
      mb-#{$size},
      (
        margin-bottom: $value,
      )
    );
    @include emit-spacing-utility(
      ml-#{$size},
      (
        margin-left: $value,
      )
    );
    @include emit-spacing-utility(
      mx-#{$size},
      (
        margin-left: $value,
        margin-right: $value,
      )
    );
    @include emit-spacing-utility(
      my-#{$size},
      (
        margin-top: $value,
        margin-bottom: $value,
      )
    );

    @include emit-spacing-utility(
      p-#{$size},
      (
        padding: $value,
      )
    );
    @include emit-spacing-utility(
      pt-#{$size},
      (
        padding-top: $value,
      )
    );
    @include emit-spacing-utility(
      pr-#{$size},
      (
        padding-right: $value,
      )
    );
    @include emit-spacing-utility(
      pb-#{$size},
      (
        padding-bottom: $value,
      )
    );
    @include emit-spacing-utility(
      pl-#{$size},
      (
        padding-left: $value,
      )
    );
    @include emit-spacing-utility(
      px-#{$size},
      (
        padding-left: $value,
        padding-right: $value,
      )
    );
    @include emit-spacing-utility(
      py-#{$size},
      (
        padding-top: $value,
        padding-bottom: $value,
      )
    );
  }
}

html {
  @include mat.system-classes();

  @include mat.theme(
    (
      color: (
        primary: theme.$primary-palette,
        tertiary: theme.$tertiary-palette,
      ),
      typography: Inter,
      density: 0,
    ),
    $overrides: (
      (
        primary: #204ece,
        on-primary: #fcfdff,
        primary-container: #dbe1f5,
        on-primary-container: #1c3399,

        secondary: #ea9835,
        on-secondary: #fcfdff,
        secondary-container: #ffd896,
        on-secondary-container: #ae6f22,

        error: #e00000,
        on-error: #fcfdff,
        error-container: #ffded0,
        on-error-container: #a42525,

        background: #eaedf5,
        surface: #eaedf5,
        on-surface: #1c1b1f,
        on-surface-variant: #52555d,
        surface-container-lowest: #fbfcff,
        surface-container: #f0f3fb,
        surface-container-high: #dde0e7,
        surface-container-highest: #cdcfd9,

        outline: #7c808c,
        outline-variant: #b3b8c7,

        inverse-surface: #383a3f,
        inverse-on-surface: #fcfdff,
        inverse-primary: #a8b7fa,

        headline-large: 500 2.5rem / 3rem Inter,
        headline-large-line-height: 3rem,
        headline-large-size: 2.5rem,
        headline-large-weight: 500,
        headline-medium: 500 2rem / 2.5rem Inter,
        headline-medium-line-height: 2.5rem,
        headline-medium-size: 2rem,
        headline-medium-weight: 500,
        headline-small: 500 1.5rem / 2rem Inter,
        headline-small-weight: 500,
        body-large-tracking: 0,
        body-medium-tracking: 0,
        body-small-tracking: 0,
        label-large-tracking: 0,
        label-medium-tracking: 0,
        label-small: 500 0.625rem / 0.75rem Inter,
        label-small-line-height: 0.75rem,
        label-small-size: 0.625rem,
        label-small-tracking: 0,

        corner-extra-large: 64px,
        corner-extra-large-top: 64px 64px 0 0,
        corner-extra-small: 4px,
        corner-extra-small-top: 4px 4px 0 0,
        corner-large: 32px,
        corner-large-end: 0 32px 32px 0,
        corner-large-start: 32px 0 0 32px,
        corner-large-top: 32px 32px 0 0,
        corner-medium: 16px,
        corner-none: 0,
        corner-small: 8px
      )
    )
  );

  /* Spacing */
  --spacing-3xs: 2px;
  --spacing-2xs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 12px;
  --spacing-md: 16px;
  --spacing-lg: 20px;
  --spacing-xl: 24px;
  --spacing-2xl: 32px;
  --spacing-3xl: 48px;
  --spacing-4xl: 64px;

  /* Page Spacers */
  --page-spacer-sm: 16px;
  --page-spacer-lg: 24px;

  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  line-height: 1.5;
  font-family: 'Inter', 'Roboto', sans-serif;

  @include mat.button-overrides(
    (
      text-icon-offset: 0px,
      filled-icon-offset: 0px,
      protected-icon-offset: 0px,
      outlined-icon-offset: 0px,
      tonal-icon-offset: 0px,

      text-label-text-color: var(--mat-sys-on-surface-variant),
      text-state-layer-color: var(--mat-sys-on-surface-variant),
      text-ripple-color: color-mix(
          in srgb,
          var(--mat-sys-on-surface-variant) calc(var(--mat-sys-pressed-state-layer-opacity) * 100%),
          transparent
        ),
      outlined-label-text-color: var(--mat-sys-on-surface-variant),
      outlined-state-layer-color: var(--mat-sys-on-surface-variant),
      outlined-ripple-color: color-mix(
          in srgb,
          var(--mat-sys-on-surface-variant) calc(var(--mat-sys-pressed-state-layer-opacity) * 100%),
          transparent
        ),
      tonal-container-color: var(--mat-sys-primary-container),
      tonal-label-text-color: var(--mat-sys-on-primary-container),
      tonal-state-layer-color: var(--mat-sys-on-primary-container),
      tonal-ripple-color: color-mix(
          in srgb,
          var(--mat-sys-on-primary-container)
            calc(var(--mat-sys-pressed-state-layer-opacity) * 100%),
          transparent
        ),
    )
  );

  @include mat.fab-overrides(
    (
      extended-container-shape: var(--mat-sys-corner-medium),
      extended-label-text-size: 1rem,
      container-color: var(--mat-sys-primary),
      foreground-color: var(--mat-sys-on-primary),
      state-layer-color: var(--mat-sys-on-primary),
      ripple-color: color-mix(
          in srgb,
          var(--mat-sys-on-primary) calc(var(--mat-sys-pressed-state-layer-opacity) * 100%),
          transparent
        ),
    )
  );

  @include mat.dialog-overrides(
    (
      container-shape: var(--mat-sys-corner-large),
      headline-padding: var(--spacing-xs) var(--spacing-xl) var(--spacing-md),
      actions-padding: var(--spacing-xl),
      container-elevation-shadow: var(--mat-sys-level4),
    )
  );

  @include mat.menu-overrides(
    (
      container-shape: var(--mat-sys-corner-medium),
      container-elevation-shadow: var(--mat-sys-level3),
    )
  );

  @include mat.form-field-overrides(
    (
      filled-container-shape: var(--mat-sys-corner-small),
      outlined-container-shape: var(--mat-sys-corner-small),
    )
  );
}

*,
::after,
::before,
::backdrop,
::file-selector-button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 solid;
}

router-outlet {
  display: none;
}

body {
  background-color: var(--mat-sys-surface);
}

a {
  color: var(--mat-sys-primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button[matButton='filled'],
button[mat-flat-button],
a[matButton='filled'],
a[mat-flat-button] {
  box-shadow: var(--mat-sys-level2) !important;
}

button[matButton='tonal'],
button[mat-button],
a[matButton='tonal'],
a[mat-button] {
  box-shadow: var(--mat-sys-level1) !important;
}

button[matFab][extended] > .mat-icon,
a[matFab][extended] > .mat-icon {
  margin-left: 0;
  margin-right: var(--spacing-xs);
}

mat-card.mat-mdc-card {
  background-color: var(--mat-sys-surface-container-lowest);
  border-radius: var(--mat-sys-corner-small);
}

.mat-mdc-menu-panel > .mat-mdc-menu-content {
  padding-top: 0;
  padding-bottom: 0;
}

.text-bold {
  font-weight: 700 !important;
}

@include emit-spacing-utilities();
