<mat-form-field appearance="outline" class="counter-field" subscriptSizing="dynamic">
  @if (label() && !compact()) {
    <mat-label>{{ label() }}</mat-label>
  }

  <button
    matIconButton
    matPrefix
    [appButtonSize]="compact() ? 'x-compact' : 'compact'"
    type="button"
    (click)="decrement()"
    [disabled]="min() !== null && value() <= min()!"
  >
    <mat-icon fontSet="material-symbols-outlined">remove</mat-icon>
  </button>

  <input
    matInput
    [class.mat-font-body-md]="compact()"
    type="number"
    [value]="value()"
    (change)="onInputChange($event)"
    [attr.min]="min()"
    [attr.max]="max()"
  />

  <button
    matIconButton
    matSuffix
    [appButtonSize]="compact() ? 'x-compact' : 'compact'"
    type="button"
    (click)="increment()"
    [disabled]="max() !== null && value() >= max()!"
  >
    <mat-icon fontSet="material-symbols-outlined">add</mat-icon>
  </button>
</mat-form-field>
