@use '@angular/material' as mat;
@use '../../../variables' as *;

:host {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: var(--mat-sys-surface-container);
  box-shadow: var(--mat-sys-level2);
  padding: var(--spacing-sm) var(--spacing-sm);

  @media (min-width: $breakpoint-sm) {
    display: none;
  }
}

.bottom-nav-container {
  width: 100%;
}

.nav-list {
  display: flex !important;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
  gap: var(--spacing-2xs);

  @include mat.list-overrides(
    (
      active-indicator-color: var(--mat-sys-primary-container),
      list-item-one-line-container-height: 60px,
      list-item-leading-icon-size: 32px,
      list-item-leading-icon-color: var(--mat-sys-on-surface),
      list-item-label-text-size: var(--mat-sys-label-medium-size),
      list-item-label-text-weight: var(--mat-sys-label-medium-weight),
      list-item-label-text-line-height: var(--mat-sys-label-medium-line-height),
    )
  );
}

.nav-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  gap: var(--spacing-2xs);
}

.user-avatar {
  height: 24px;
  width: 24px;
  border-radius: var(--mat-corner-full);
  object-fit: cover;
  margin-bottom: 4px;
}

.user-avatar-active {
  box-shadow:
    0 0 0 2px var(--mat-sys-surface),
    0 0 0 4px var(--mat-sys-primary);
}

.nav-icon {
  font-variation-settings: 'FILL' 0;
  width: var(--mat-list-list-item-leading-icon-size, 24px);
  height: var(--mat-list-list-item-leading-icon-size, 24px);
}

.nav-icon-filled {
  font-variation-settings: 'FILL' 1;
}
