@use '@angular/material' as mat;
@use '../../../variables' as *;

:host {
  display: none;
  width: 168px;
  flex-shrink: 0;
  height: 100dvh;
  top: 0;
  position: sticky;
  background-color: var(--mat-sys-surface-container);
  box-shadow: var(--mat-sys-level2);
  padding: var(--spacing-xl) var(--spacing-md);

  @media (min-width: $breakpoint-sm) {
    display: block;
  }
}

.side-nav-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logo-container {
  margin-bottom: var(--spacing-xl);
  display: flex;
  justify-content: center;
}

.logo-image {
  object-fit: contain;
  width: 100%;
  max-width: 120px;
}

.nav-list {
  display: flex !important;
  flex-direction: column;
  gap: var(--spacing-sm);
  padding: 0;

  @include mat.list-overrides(
    (
      active-indicator-color: var(--mat-sys-primary-container),
      list-item-one-line-container-height: 40px,
      list-item-leading-icon-end-space: var(--spacing-xs),
      list-item-leading-icon-color: var(--mat-sys-on-surface),
      list-item-label-text-size: var(--mat-sys-label-large-size),
    )
  );
}

.user-avatar {
  height: 24px;
  width: 24px;
  border-radius: var(--mat-corner-full);
  object-fit: cover;
}

.user-avatar-active {
  box-shadow:
    0 0 0 2px var(--mat-sys-surface),
    0 0 0 4px var(--mat-sys-primary);
}

.nav-icon {
  font-variation-settings: 'FILL' 0;
}

.nav-icon-filled {
  font-variation-settings: 'FILL' 1;
}

.auth-button {
  margin-top: auto;
}
