<mat-card class="payment-card">
  <div class="card-content">
    <div class="bank-info">
      <bank-logo [bankName]="method().bank_name" size="56px" />
      <div class="bank-details">
        <p class="bank-name mat-text-on-surface" [class.mat-title-medium]="isMobile()" [class.mat-font-body-lg]="!isMobile()">{{ method().bank_name }}</p>
        <p class="account-name mat-text-on-surface" [class.mat-font-body-md]="isMobile()" [class.mat-font-body-sm]="!isMobile()">{{ method().account_name }}</p>
      </div>
    </div>

    <div class="account-number-box">
      <label class="account-label">Account number</label>
      <div class="account-content">
        <span class="account-text">{{ method().account_number }}</span>
        <button 
          mat-icon-button
          class="copy-button"
          (click)="copyToClipboard(method().account_number); $event.stopPropagation()">
          <mat-icon fontSet="material-symbols-outlined">content_copy</mat-icon>
        </button>
      </div>
    </div>

    @if (showEdit()) {
      <button 
        mat-icon-button
        class="edit-button"
        (click)="edit.emit(method())">
        <mat-icon fontSet="material-symbols-outlined">edit</mat-icon>
      </button>
    }
  </div>
</mat-card>
